{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Siddharth. I am very fond of different forms of Art, Origami and Culture. I like to express and learn different forms of art.</p>
        <p>I write blogs on random things. I like to enlighten the world by providing them with the information about different and weird things that happen round the globe.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}